html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    text-decoration: none;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    margin: 0;
    font-family: $font;
}

.container {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.title {
    font-family: $font;
    font-size: 30px;
    line-height: 28px;
    color: #000;
    padding: 40px 30px;
    background-color: #ffffff;
    border-radius: 5px;
}

.rate-star {
    display: inline-block !important;
    margin-right: 13px;
    background-image: url(../img/rate-star.svg);
}