@import "vars";
@import "global";
@import "fonts";

// start header

.header {
    font-weight: 400;
    background-color: #eef1f3;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        max-width: 530px;
        width: 100%;
    }
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;

    .header__become {
        padding: 7px 9px;
        color: #fff;
        width: 140px;
        height: 36px;
        background-color: $light__blue;
        border-radius: 50px;
        position: relative;
        bottom: -6px;
    }

    .header__icons {
        position: relative;
        bottom: -14px;
        display: flex;
        justify-content: space-between;
        font-weight: 500;
        font-size: 14px;
        padding: 0 2px;

        span {
            position: absolute;
            bottom: 43px;
            text-align: center;
            padding: 2px;
            color: #ffffff;
        }

        &-noti,
        &-mail,
        &-cart {
            border: none;
            position: relative;
            outline: none;
            cursor: pointer;
        }

        &-noti::before,
        &-mail::before,
        &-cart::before {
            content: "";
            width: 22px;
            height: 22px;
            display: block;
            position: absolute;
            background-repeat: no-repeat;
        }

        &-noti::before {
            background-image: url(../img/alarm.svg);
            right: 40px;
        }

        &-noti--span {
            right: 25px;
            min-width: 26px;
            min-height: 22px;
            background-color: #ff6a6c;
            border-radius: 50px;
        }

        &-mail::before {
            background-image: url(../img/envelope.svg);
            right: -8px;
        }

        &-mail--span {
            min-width: 22px;
            min-height: 22px;
            background-color: #62d03b;
            border-radius: 50px;
        }

        &-cart::before {
            background-image: url(../img/cart.svg);
            left: 42px;
        }

        &-cart--span {
            left: 58px;
            min-width: 22px;
            min-height: 22px;
            background-color: #0674ec;
            border-radius: 50px;
        }
    }

    .header__profile {
        display: flex;

        &-img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-size: cover;
        }

        &-info {
            margin-left: 20px;
            margin-top: 5px;

            .header__profile-name {
                font-weight: 500;
                flex-wrap: wrap;
                max-width: 100px;
                color: #333333;
            }

            .header__profile-money {
                color: #0674ec;
                font-weight: 400;
            }
        }
    }
}

// header end
// navigation start

.navigation__wrapper {
    display: flex;
    width: 100%;
    background-color: #ffffff;
}

.navigation {
    height: 80px;
    background-color: #ffffff;
    position: relative;
    right: 30px;
    margin: 0 auto;
    padding-top: 25px;

    .navigation__inner {
        display: inline-block;
        max-width: 790px;
        width: 100%;

        .navigation__menu,
        a {
            font-weight: 500;
            font-size: 15px;
            line-height: 30px;
            color: #333333;
            display: flex;
            padding-left: 0;
            text-transform: uppercase;

            .navigation__points {
                padding-right: 35px;
                cursor: pointer;
            }
        }
    }
}

// navigation end
// search start

.search__inner {
    font-weight: 400;
    color: #898f96;
    font-size: 15px;
    line-height: 30px;
    display: inline-block;
    border: 1px solid #d9dfe5;
    border-radius: 50px;
    margin: 17px auto 17px 0;
    position: relative;
    left: 10px;

    .search__form {
        z-index: 1;
        position: relative;
        max-width: 360px;
        margin: 0 auto;

        input {
            display: block;
            width: 100%;
            height: 45px;
            padding-left: 15px;
            padding-right: 85px;
            border-radius: 50px;
            border: none;
            outline: none;
            margin-right: 84px;
        }

        button {
            position: absolute;
            height: 47px;
            top: -1px;
            width: 70px;
            right: 0px;
            border-radius: 50px;
            background-color: $light__blue;
            border: none;
            outline: none;
            cursor: pointer;
        }

        &-btn::before {
            content: "";
            background-image: url(../img/magnifier.svg);
            width: 25px;
            height: 25px;
            position: absolute;
            background-repeat: no-repeat;
            bottom: 7.5px;
            right: 18px;
        }
    }
}

// search end
// create start

.create {
    height: 735px;
    background-color: #294dcf;
    text-align: center;
    color: #ffffff;
    padding: 175px 15px;

    &__subtitle {
        font-weight: 400;
        font-size: 60px;
        line-height: 70px;
    }

    &__title {
        font-weight: 700;
        font-size: 60px;
        line-height: 70px;
    }

    &__text {
        font-weight: 500;
        font-size: 20px;
        line-height: 72px;
        padding-bottom: 35px;
    }

    &__links {
        font-weight: 400;
        font-size: 16px;
        line-height: 72px;
        padding: 20px 30px;
        border-radius: 50px;
        border: 1px solid #fff;
        margin-right: 30px;
        color: #ffffff;
        transition: linear 0.5s;

        &-all:hover {
            background-color: #fff;
            color: $light__blue;
        }

        &-popular:hover {
            background-color: #fff;
            color: $light__blue;
        }
    }
}

.create__search {
    display: block;
    padding: 40px;
    background-color: #fff;
    text-align: center;
    max-height: 135px;
    border-radius: 5px;
    margin-top: 160px;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.44);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.44);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.44);
    position: relative;
    z-index: 2;

    &-inner {
        max-width: 1140px;
        width: 100%;
        display: flex;
    }

    &-form {
        display: flex;
        width: 100%;
    }

    &-input {
        padding: 19px 20px;
        max-width: 675px;
        width: 100%;
        height: 100%;
        border: 1px solid #dcdcdc;
        border-right: none;
        font-weight: 400;
        font-size: 16px;
        font-family: $font;
        border-top-left-radius: 5px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 5px;
        outline: none;
    }

    .create__search-categories {
        color: #555555;
        border: 1px solid #dcdcdc;
        padding: 20px 15px;
        width: 195px;
        font-weight: 400;
        font-size: 16px;
        font-family: $font;
        border-top-left-radius: 0;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 0;
        position: relative;
        cursor: pointer;
        background-color: #fff;
        appearance: none;
        outline: none;
        background-image: url(../img/chevron-down.svg);
        background-repeat: no-repeat;
        background-position: 155px 22px;
        transition: linear 0.5s;
    }

    &-btn {
        background-color: $light__blue;
        border: none;
        padding: 20px 60px;
        height: 100%;
        border-radius: 5px;
        color: #ffffff;
        max-width: 235px;
        width: 100%;
        font-weight: 400;
        font-size: 16px;
        font-family: $font;
        margin-left: 30px;
        outline: none;
        cursor: pointer;
    }
}

.create__search::after,
.create__search::before {
    content: "";
    height: 135px;

    width: 100%;

    position: absolute;
    background-color: #fff;
    border-radius: 5px;
    opacity: 0.5;
    z-index: -1;
}

.create__search::before {
    max-width: 1110px;
    top: -13px;
    left: 13px;
}

.create__search::after {
    max-width: 1080px;
    top: -26px;
    left: 27px;
}

// create end
// reason start

.reason {
    margin: 175px 0 155px;
    &__inner {
        display: flex;
        justify-content: space-between;
        text-align: center;

        img {
            padding-bottom: 36px;
            padding-top: 42px;
        }
    }

    &__wrapper {
        padding-top: 200px;
    }

    &__item {
        padding: 0 32px;
        margin: 0px 10px;
        transition: linear 0.5s;

        &-book {
            position: relative;
            &::before {
                content: "";
                background-image: url(../img/reason-img.jpg);
                background-repeat: no-repeat;
                position: absolute;
                top: 40px;
                left: 125px;
                width: 115px;
                height: 115px;
            }
        }

        &-table {
            position: relative;
            &::before {
                content: "";
                background-image: url(../img/reason-img1.jpg);
                background-repeat: no-repeat;
                position: absolute;
                top: 40px;
                left: 125px;
                width: 115px;
                height: 120px;
            }
        }

        &-phones {
            position: relative;
            &::before {
                content: "";
                background-image: url(../img/reason-img2.jpg);
                background-repeat: no-repeat;
                position: absolute;
                top: 40px;
                left: 125px;
                width: 115px;
                height: 115px;
            }
        }
    }

    &__item:hover {
        -webkit-box-shadow: 0px 0px 23px 0px rgba(0, 0, 0, 0.37);
        -moz-box-shadow: 0px 0px 23px 0px rgba(0, 0, 0, 0.37);
        box-shadow: 0px 0px 23px 0px rgba(0, 0, 0, 0.37);
        border-radius: 2px;
    }

    &__title {
        font-weight: 400;
        font-size: 24px;
        line-height: 7.2px;
        padding-bottom: 30px;
    }

    &__text {
        font-weight: 400;
        font-size: 16px;
        line-height: 30px;
        color: #555555;
        padding-bottom: 50px;
    }
}

// reason end
// products start

.products {
    height: 850px;
    background-color: #eff1f5;
    padding-top: 120px;
    font-family: $font;
    font-weight: 400;

    .slick-arrow {
        position: absolute;
        top: -75px;
        padding: 12px 20px;
        right: 0;
        border: none;
        background-color: #7347c1;
        outline: none;
        cursor: pointer;
    }

    .slick-next {
        border-top-left-radius: 0;
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
        border-bottom-left-radius: 0;
        right: 30px;
    }

    .slick-prev {
        border-top-left-radius: 50px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 50px;
        right: 80px;
    }

    .slider__product {
        margin-top: 50px;
        background-color: #fff;
        padding-right: 60px;
        border-radius: 5px;
        display: flex !important;
        border-radius: 5px;

        &-img {
            padding-right: 50px;
            max-width: 555px;
            border-radius: 5px;
            height: 100%;
        }

        &-title {
            display: flex;
            width: 100%;
            padding-top: 50px;
            flex-direction: column;
            font-size: 24px;
            padding: 45px 0 15px;
        }

        &-text {
            font-size: 15px;
            line-height: 30px;
            color: #555555;
            padding-bottom: 35px;
        }

        &-author {
            display: flex;
            .author__img {
                width: 30px;
                height: 30px;
                border-radius: 50%;
                margin-bottom: 35px;
            }

            .author__name {
                padding-left: 10px;
                padding-right: 50px;
                font-size: 15px;
                line-height: 30px;
                color: #000;
            }

            .author__tech {
                display: inline-block;
                font-size: 15px;
                line-height: 30px;
                color: #7347c1;
                position: relative;
            }

            .author__tech-img {
                position: absolute;
                top: 7px;
                left: -25px;
            }
        }
        &-tags {
            display: flex;
            justify-content: start;
            font-size: 15px;
            line-height: 30px;
            padding-bottom: 45px;
            border-bottom: 1px solid #ececec;

            .slider-tag {
                background-color: #f1f3f6;
                padding: 0px 15px;
                border-radius: 50px;
                margin-right: 7px;
                color: #868c96;
            }
        }

        &-info {
            padding: 25px 0;
            display: flex;
            font-size: 15px;
            line-height: 30px;
            position: relative;

            .slider__product-price {
                padding: 0px 18px;
                background-color: #0674ec;
                border-radius: 50px;
                color: #ffffff;
                margin-right: 45px;
                outline: none;
            }

            .slider__product-cart {
                color: $light__blue;
                padding-left: 40px;
                outline: none;
            }

            .slider__product-cart::before {
                content: "";
                background-image: url(../img/cart1.svg);
                position: absolute;
                width: 14px;
                height: 14px;
                left: 170px;
                bottom: 34px;
            }

            .slider__product-heart {
                color: #555555;
                outline: none;
            }
        }

        &-info::before {
            content: "";
            background-image: url(../img/heart.svg);
            width: 15px;
            height: 15px;
            position: absolute;
            left: 111px;
            top: 32px;
            background-repeat: no-repeat;
        }

        &-stars {
            display: inline-block;
            .rate-star {
                position: absolute;
                right: -17px;
                top: 31px;
            }
        }
    }
}

// products end
// newest start

.newest {
    background-color: #f6f7fb;
    max-height: 1730px;

    .newest__inner-box {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__inner {
        padding-top: 120px;
        padding-bottom: 60px;
    }

    .newest__title {
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;

        .newest__click {
            font-weight: 400;
            font-size: 16px;
            line-height: 32px;
            color: #747b86;
            cursor: pointer;
            max-height: 30px;
            padding-right: 30px;

            &::after {
                content: "";
                background-image: url(../img/ellipsis-v-solid.svg);
                width: 7px;
                height: 19px;
                position: absolute;
                background-repeat: no-repeat;
                margin-top: 7px;
                margin-left: 25px;
            }

            .newest__filters {
                display: none;
                flex-direction: column;
                right: 194px;
                padding: 5px 50px 5px 15px;
                margin-top: 10px;
                position: absolute;
                background-color: #fff;
                z-index: 1;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
                border-bottom-left-radius: 5px;
                box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
            }

            .newest__filter {
                padding: 2px;
                transition: linear 0.5s;

                &:hover {
                    color: $light__blue;
                }
            }
        }
    }

    &__tags {
        background-color: #fff;
        padding: 30px;
        display: flex;
        justify-content: space-between;
        font-weight: 400;
        border-radius: 5px;
        box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
        margin-bottom: 20px;
    }

    &__tag {
        padding: 0 20px;
        background-color: #f1f3f6;
        border: none;
        font-size: 15px;
        line-height: 30px;
        border-radius: 50px;
        outline: none;
        cursor: pointer;
        color: #747b86;
        transition: linear 0.5s;

        &:hover {
            background-color: $light__blue;
            color: #ffffff;
        }
    }

    .newest__tag-bottom {
        background-color: $light__blue;
        color: #ffffff;
        margin: 60px auto;
        display: flex;
        padding: 11px 35px;

        &:hover {
            background-color: #f1f3f6;
            color: #747b86;
        }
    }
}

// newest end
// followers start

.followers {
    background-color: #eff1f5;
    max-height: 930px;
}

.followers__inner {
    padding-top: 50px;
    font-family: $font;
    font-weight: 400;
    padding-top: 120px;

    .followers__title {
        margin-bottom: 50px;
        position: relative;
    }
}

.followers-slider__inner {
    display: flex;
    justify-content: space-between;
    padding-bottom: 120px;

    .followers-slider__card {
        box-shadow: none;
        outline: none;
    }

    .slick-arrow {
        position: absolute;
        top: -124px;
        padding: 12px 20px;
        right: 0;
        border: none;
        background-color: #0674ec;
        outline: none;
        cursor: pointer;
    }

    .slick-next {
        border-top-left-radius: 0;
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
        border-bottom-left-radius: 0;
        right: 30px;
    }

    .slick-prev {
        border-top-left-radius: 50px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 50px;
        right: 80px;
    }
}

// followers end
// statistics start

.statistics {
    background-color: #212225;
    max-height: 350px;

    &__inner {
        padding: 95px 0 105px;
        display: flex;
        justify-content: space-between;
    }

    &__paragraph {
        text-align: center;
        font-weight: 400;

        &-title {
            line-height: 36px;
        }

        &-text {
            color: #ffffff;
            line-height: 36px;
        }

        &-briefcase {
            color: #feb71d;

            img {
                padding: 8px 0 35px;
            }
        }

        &-cloud {
            color: #58c9e9;

            img {
                padding: 15px 0 40px;
            }
        }

        &-smile {
            color: #77de51;

            img {
                padding-bottom: 36px;
            }
        }

        &-users {
            color: #ff6a6d;

            img {
                padding: 13px 0 33px;
            }
        }
    }
}

// statistics end
// advantages start

.advantages {
    max-height: 1190px;
    font-weight: 400;

    &__inner {
        text-align: center;
        padding-top: 120px;
    }

    &__title {
        font-size: 36px;
        line-height: 28px;
        padding-bottom: 25px;

        &-span {
            color: $light__blue;
        }
    }

    &__text {
        font-size: 16px;
        line-height: 30px;
        padding: 0 250px;
        color: #555555;
        padding-bottom: 55px;
    }

    &__block-inner {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-bottom: 120px;
    }

    &__block {
        max-width: 360px;
        box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
        margin-bottom: 30px;

        &-num {
            display: flex;
            font-weight: 300;
            font-size: 48px;
            opacity: 0.2;
            color: #5c87f8;
            padding: 7px 0 0 18px;
        }

        &-img {
            padding-bottom: 38px;
            margin-top: -10px;
        }

        &-img--lock {
            margin-top: -13px;
        }

        &-img--magic {
            padding-bottom: 23px;
        }

        &-img--phone {
            padding-bottom: 48px;
        }

        &-title {
            font-size: 24px;
            padding-bottom: 25px;
        }

        &-title--magic {
            padding-bottom: 30px;
        }

        &-text {
            font-size: 16px;
            line-height: 30px;
            color: #555555;
            padding: 0 33px 60px;
        }
    }
}

// advantages end
// sell start

.sell {
    display: flex;
    justify-content: space-around;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 560px;
    text-align: center;

    &__inner {
        padding-top: 100px;
        font-weight: 400;
        color: #ffffff;
        display: flex;
    }

    &__piece {
        line-height: 30px;
        padding: 0 185px;
        font-size: 16px;
        &-title {
            font-size: 36px;
            padding: 45px 0 33px;
        }

        &-text {
            max-width: 580px;
            padding-bottom: 37px;
        }

        &-link {
            line-height: 72px;
            background-color: #ffffff;
            padding: 17px 24px;
            border-radius: 50px;
            color: $light__blue;
            transition: linear 0.5s;

            &:hover {
                background-color: #7347c1;
                color: #ffffff;
            }
        }

        &-link--start {
            color: #7347c1;
            transition: linear 0.5s;

            &:hover {
                background-color: $light__blue;
                color: #ffffff;
            }
        }
    }
}

// sell end
// feedback start

.feedback {
    font-weight: 400;

    &__inner {
        padding-top: 120px;
        text-align: center;
        margin-bottom: 120px;
    }

    &__title {
        font-size: 36px;
        line-height: 28px;
        padding: 35px;

        span {
            color: $light__blue;
        }
    }

    &__text {
        font-size: 16px;
        line-height: 30px;
        color: #555555;
        padding-bottom: 60px;
        max-width: 675px;
        margin: 0 auto;
    }

    &__box {
        display: flex;
        justify-content: space-between;
        margin-bottom: 60px;
    }

    &__item {
        max-width: 555px;
        border-left: 2px solid $light__blue;
        padding-left: 40px;
        padding-top: 50px;
        box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);

        &-top {
            display: flex;
            flex-direction: row;

            &::after {
                content: "";
                background-image: url(../img/bubble.svg);
                width: 57px;
                height: 51px;
                position: relative;
                left: 155px;
            }
        }

        &-link {
            display: flex;
        }
        &-img {
            width: 80px;
            height: 80px;
            border-radius: 50%;
            margin-bottom: 30px;
        }

        &-name {
            font-size: 20px;
            line-height: 7.2px;
            color: #000;
            padding: 14px 20px 25px;
        }

        &-profession {
            font-size: 16px;
            line-height: 7.2px;
            color: #555555;
        }

        &-text {
            font-size: 16px;
            line-height: 30px;
            color: #555555;
            text-align: left;
            padding-bottom: 50px;
            padding-right: 40px;
        }
    }

    &__btn {
        background-color: $light__blue;
        color: #ffffff;
        font-size: 16px;
        line-height: 72%;
        padding: 18px 34px;
        border-radius: 50px;
        transition: linear 0.5s;

        &:hover {
            background-color: #fff;
            color: $light__blue;
            border: 1px solid $light__blue;
        }
    }
}

// feedback end
// news start

.news {
    background-color: #eff1f5;

    &__inner {
        padding: 120px 0;
        text-align: center;
        font-size: 400px;
    }

    &__title {
        font-size: 36px;
        line-height: 28px;
        padding-bottom: 35px;

        span {
            color: $light__blue;
        }
    }

    &__text {
        font-size: 16px;
        line-height: 30px;
        max-width: 675px;
        margin: 0 auto;
        padding-bottom: 60px;
    }

    &__items {
        display: flex;
        justify-content: space-between;
    }

    &__item {
        max-width: 360px;
        max-height: 475px;
    }

    &__content {
        background-color: #fff;
        text-align: start;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;

        &-box {
            padding: 30px 30px;
        }

        &-title {
            font-weight: 500;
            font-size: 22px;
            padding-bottom: 25px;
        }

        &-info {
            border-top: 1px solid #ececec;
            display: flex;
            justify-content: space-between;
        }

        &-text {
            font-size: 16px;
            line-height: 30px;
            color: #555555;
        }

        &-time,
        &-comments,
        &-watch {
            font-size: 15px;
            line-height: 30px;
        }

        &-comments,
        &-watch {
            color: #7e7e7e;
        }

        &-time {
            position: relative;
            color: #999999;
            padding: 15px 25px 15px 53px;

            &::before {
                content: "";
                background-image: url(../img/clock.svg);
                position: absolute;
                height: 16px;
                width: 16px;
                left: 30px;
                top: 23px;
            }

            &::after {
                content: "";
                width: 1px;
                height: 41px;
                background-color: #ececec;
                position: absolute;
                right: -20px;
                top: 8px;
            }
        }

        &-comments {
            position: relative;
            padding: 15px 15px 15px 40px;

            &::before {
                content: "";
                background-image: url(../img/bubble-smal.svg);
                position: absolute;
                height: 14px;
                width: 16px;
                left: 23px;
                top: 23px;
            }
        }

        &-watch {
            position: relative;
            padding: 15px 30px 15px 8px;

            &::before {
                content: "";
                background-image: url(../img/eye.svg);
                position: absolute;
                height: 15px;
                width: 30px;
                left: -23px;
                top: 23px;
            }
        }
    }

    &__img {
        max-width: 360px;
        min-height: 230px;
        background-size: cover;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        display: flex;
    }
}

// news end
// guarantee start

.guarantee {
    &__inner {
        display: flex;
        justify-content: space-between;
        font-weight: 400;
        text-align: center;
    }

    &__item {
        background-repeat: no-repeat;
        background-size: cover;
        font-size: 24px;
        padding: 63px 100px;
    }

    &__text {
        padding-top: 33px;
    }

    &__text-blue {
        color: $light__blue;
    }

    &__text-purple {
        color: #7347c1;
    }
}

// guarantee end
// join start

.join {
    &__inner {
        text-align: center;
        font-weight: 400;
        color: #ffffff;
        padding: 110px 0;
    }

    &__title {
        font-size: 36px;
        padding-bottom: 20px;
    }

    &__text {
        font-size: 18px;
        padding-bottom: 50px;
    }

    &__link {
        max-width: 195px;
        margin: 0 auto;
        padding: 18px 45px;
        font-size: 16px;
        color: $light__blue;
        background-color: #fff;
        border-radius: 50px;
        transition: linear 0.5s;

        &:hover {
            color: #ffffff;
            background-color: transparent;
            border: 1px solid #fff;
            padding: 16px 43px;
        }
    }
}

// join end
// footer start

.footer {
    height: 525px;
    background-color: #262b30;

    &__inner {
        display: flex;
        justify-content: space-between;
        padding: 120px 0;
        color: #ababab;
        font-weight: 400;
    }

    &__title {
        color: #ffffff;
        font-size: 18px;
        line-height: 42px;
    }

    &__item-first {
        max-width: 265px;
        width: 100%;
    }

    &__email,
    &__address,
    &__phone {
        color: #ababab;
        padding-left: 30px;
        line-height: 26px;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            left: 0;
            width: 18px;
            height: 18px;
            background-repeat: no-repeat;
            top: 1.5px;
        }
    }

    &__phone {
        padding-bottom: 20px;
        &::before {
            background-image: url(../img/phone-handset.svg);
        }
    }

    &__email {
        display: block;
        padding: 5px 30px 9px;
        &::before {
            background-image: url(../img/envelope-small.svg);
            top: 10.5px;
        }
    }

    &__address {
        &::before {
            background-image: url(../img/map-marker.svg);
            top: 15px;
        }
    }

    &__item-second {
        max-width: 130px;
        width: 100%;
    }

    &__list {
        a {
            color: #ababab;
            font-size: 15px;
            line-height: 32px;
        }
    }

    &__item-third {
        max-width: 135px;
        width: 100%;
    }

    &__item-fourth {
        max-width: 360px;
        width: 100%;
    }

    &__form-wraper {
        position: relative;

        input {
            border: none;
            display: block;
            width: 100%;
            height: 50px;
            color: #ababab;
            font-size: 15px;
            line-height: 28px;
            padding-left: 29px;
            padding-right: 125px;
            border-radius: 50px;
            outline: none;

            &::placeholder {
                color: #ababab;
            }
        }

        button {
            position: absolute;
            bottom: 0;
            right: -1px;
            height: 50px;
            width: 110px;
            border: none;
            background-color: $light__blue;
            color: #ffffff;
            border-radius: 50px;
            cursor: pointer;
            outline: none;
        }
    }

    &__social {
        position: relative;
        display: flex;
        padding-top: 48px;
        justify-content: space-between;
        max-width: 320px;

        &-btn {
            position: absolute;
            width: 42px;
            height: 42px;
            border-radius: 50%;
            &::before {
                content: "";
                background-repeat: no-repeat;
                width: 15px;
                height: 15px;
                display: block;
                position: absolute;
                top: 13px;
                right: 13px;
            }

            &-fb {
                background-color: #395799;

                &::before {
                    background-image: url(../img/facebook-f.svg);
                    right: 12px;
                }
            }

            &-tw {
                background-color: #19b2f5;
                left: 55px;

                &::before {
                    background-image: url(../img/twitter.svg);
                }
            }

            &-google {
                background-color: #f05b44;
                left: 110px;

                &::before {
                    background-image: url(../img/google.svg);
                }
            }

            &-pn {
                background-color: #9c0c1c;
                left: 165px;

                &::before {
                    background-image: url(../img/pinterest.svg);
                }
            }

            &-in {
                background-color: #0da6be;
                left: 220px;

                &::before {
                    background-image: url(../img/linkedin-in.svg);
                }
            }

            &-dr {
                background-color: #ea4c89;
                left: 275px;

                &::before {
                    background-image: url(../img/dribbble.svg);
                }
            }
        }
    }

    &__text {
        font-size: 15px;
        line-height: 28px;
        padding-bottom: 30px;
    }

    &__copy {
        font-weight: 400;
        font-size: 15px;
        line-height: 27px;
        background-color: #192027;
        color: #999999;
        text-align: center;
        padding: 40px 0;

        span {
            color: #ffffff;
        }
    }
}
// footer end

// new page

// filters start

.filters {
    height: 102px;
    background-color: #fff;
    box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);

    &__inner {
        display: flex;
        justify-content: space-between;
    }

    &__left {
        padding: 40px 0 45px;
        font-size: 16px;
        margin-right: 285px;

        .filters__new-active {
            color: $light__blue;
            padding-right: 35px;
        }

        a,
        span {
            color: #555555;
        }
    }

    &__box {
        cursor: pointer;
        border: 1px solid #eceff2;
        margin: 28px 0;
        border-radius: 5px;
        font-size: 14px;
        color: #747b86;
        padding: 15px 85px 15px 15px;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            background-image: url(../img/chevron-down-small.svg);
            display: block;
            width: 20px;
            height: 15px;
            right: 20px;
        }

        .price-filter {
            span {
                color: #555555;
            }
        }
    }

    &__box-btn {
        border: 1px solid #eceff2;
        margin: 28px 0;
        border-radius: 5px;
        font-size: 14px;
        color: #747b86;
        padding: 15px 85px 15px 15px;
        position: relative;

        .filters__box-grid {
            &::before {
                content: "";
                position: absolute;
                background-image: url(../img/grid.svg);
                display: block;
                width: 20px;
                height: 20px;
                left: 20px;
            }
        }

        .filters__box-list {
            &::before {
                content: "";
                position: absolute;
                background-image: url(../img/list.svg);
                display: block;
                width: 20px;
                height: 20px;
                right: 20px;
            }
        }
    }
}
.quantity-filter,
.price-filter {
    max-height: 42px;
    cursor: pointer;
    position: relative;

    .quantity__filters,
    .price__filters {
        display: none;
        flex-direction: column;
        text-align: center;
        padding: 5px 10px 10px;
        width: 195px;

        margin-top: 10px;
        position: absolute;
        background-color: #fff;
        z-index: 1;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
        box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
    }

    .price__filters {
        left: -2.5px;
    }

    .quantity__filters {
        left: -6px;
    }

    .quantity__filter,
    .price__filter {
        padding: 10px;
        border-bottom: 1px solid #dcdcdc;
    }

    .quantity__filter:last-child,
    .price__filter:last-child {
        border-bottom: none;
    }
}

// filters end
// items start

.items {
    background-color: #eff1f5;
    padding-top: 80px;

    &__cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-left: 30px;
    }

    &:hover {
        .page__item-more {
            left: 0;
            top: 65px;
        }

        .page__item-live {
            left: 135px;
            top: 65px;
        }
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        max-width: 1140px;
        width: 100%;
        max-height: 1880px;
    }

    .page__item {
        max-width: 265px;
        height: 370px;
        margin-top: 0;
        margin-bottom: 30px;

        img {
            max-width: 265px;
        }

        &-content {
            padding: 10px 20px 9px;
            &-title {
                font-weight: 500;
                font-size: 18px;
                padding-bottom: 16px;
            }
        }

        &-rate-star {
            position: relative;
            left: -11px;
            top: -8px;
        }

        &-author {
            img {
                width: 28px;
                height: 28px;
            }
        }

        .page__item-author-name {
            font-weight: 400;
            font-size: 15px;
        }

        &-info-wrapper {
            display: flex;
            justify-content: space-between;
        }

        &-info-span {
            color: $light__blue;
            position: relative;
            top: -10px;

            &::before {
                content: "";
                position: absolute;
                background-image: url(../img/cart1.svg);
                width: 20px;
                height: 20px;
                left: -20px;
                bottom: -4px;
                background-repeat: no-repeat;
            }
        }

        .info::before {
            display: none;
        }

        &-author-tech {
            font-size: 15px;
            font-weight: 400;
            color: #7347c1;
        }

        &-author-tech-img {
            position: relative;
            top: 3px;
        }
    }
}

.aside {
    max-width: 265px;
    width: 100%;

    &__item {
        background-color: #fff;
        max-width: 265px;
        padding: 0 25px;
        margin-bottom: 30px;
    }

    &__title {
        font-size: 20px;
        color: #000000;
        padding: 28px 0;
        border-bottom: 1px solid #e7ebee;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            background-image: url(../img/chevron-down-small.svg);
            width: 20px;
            height: 15px;
            right: 0;
        }
    }

    &__list {
        padding: 30px 0 35px;
    }

    &__paragraph {
        padding-left: 20px;
        position: relative;
        font-size: 15px;
        padding-top: 25px;

        &::before {
            content: "";
            position: absolute;
            background-image: url(../img/chevron-right1.svg);
            width: 20px;
            height: 20px;
            left: 0;
            background-repeat: no-repeat;
        }

        span {
            position: absolute;
            right: 0;
        }

        span,
        a {
            color: #555555;
        }
    }

    &__paragraph:first-child {
        padding-top: 0;
    }

    &__paragraph-active {
        a,
        span {
            color: $light__blue;
        }
    }

    &__paragraph-dots {
        position: relative;

        &::before {
            content: "";
            position: absolute;
            background-image: url(../img/paragraph-dot.svg);
            width: 20px;
            height: 15px;
            right: 0;
            bottom: -1px;
        }
    }
}

.price-range__btn {
    border: none;
    background-color: $light__blue;
    font-weight: 500;
    font-size: 15px;
    color: #ffffff;
    padding: 15px 30px;
    border-radius: 50px;
    margin: 85px 25px 40px 25px;
    outline: none;
    cursor: pointer;
}

.irs--flat .irs-line {
    background-color: #f2f5f8;
    height: 5px;
}

.irs--flat .irs-bar {
    background-color: #7347c1;
    height: 5px;
}

.irs--flat .irs-handle {
    width: 16px;
    height: 16px;
    border: 4px solid $light__blue;
    background-color: #ffffff;
    border-radius: 50%;
}

.irs--flat .irs-handle > i:first-child {
    display: none;
}

.irs--flat .irs-from,
.irs--flat .irs-to,
.irs--flat .irs-single {
    top: 62px;
}

.irs--flat .irs-from:before,
.irs--flat .irs-to:before,
.irs--flat .irs-single:before {
    display: none;
}

.irs--flat .irs-from,
.irs--flat .irs-single,
.irs--flat .irs-to {
    border-radius: 50px;
    background-color: #f1ecf9 !important;
    padding: 10px 25px 8px !important;
    line-height: 1.333;
    font-size: 15px;
    color: #7347c1;
}

.irs--flat .irs-handle {
    top: 19px;
}

.pagination {
    display: flex;
    justify-content: flex-end;
}

// items end
